@use "../global" as *;
@use "../util" as *;

.footer {
  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    color: var(--very-pale-blue);
    background-color: var(--very-dark-cyan);
    padding-top: rem(40);
    padding-bottom: rem(20);
    gap: rem(80);
    @include mq(medium) {
      grid-template-rows: 1fr;
      gap: rem(120);
    }

    @include mq(large) {
      padding: rem(80) calc((100vw - 85em) / 2);
      grid-template-columns: rem(352) 1fr rem(352) rem(140);
    }
  }

  &-subscribe {
    max-width: rem(480);
    padding: rem(60) 0;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin: auto;
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    @include mq(medium) {
      grid-row: initial;
      grid-column: 3 / -1;
      padding: 0;
    }

    @include mq(large) {
      grid-column: 3 / -1;
      max-width: initial;
      display: grid;
      grid-template-columns: subgrid;
      gap: rem(36);
      margin-top: inherit;
    }

    &-title {
      text-transform: uppercase;
      font-size: 1.1em;
    }

    &-text {
      line-height: 1.6;
      font-weight: 600;
      padding: rem(30) 0;
    }

    & .btn--subscribe {
      align-self: flex-end;
    }
  }

  &-data {
    margin: auto;
    max-width: rem(480);
    grid-column: 1 / -1;
    grid-row: 2 / -1;

    @include mq(medium) {
      grid-column: 1 / span 2;
      grid-row: initial;
    }

    @include mq(large) {
      grid-column: 1 / span 1;
    }
  }

  &-header-brand > img {
    filter: brightness(0) invert(1);
  }

  &-content {
    line-height: 1.6;
    font-weight: 600;
    padding: rem(20) 0 0;

    &-send {
      padding: rem(24) 0;
      $phone: "../images/icon-phone.svg";
      $email: "../images/icon-email.svg";

      & p {
        height: rem(36);
        display: flex;
        align-items: center;
        gap: rem(20);
        font-weight: normal;

        &::before {
          content: "";
          display: block;
          width: rem(20);
          height: rem(20);
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:first-child::before {
          background-image: url($phone);
        }

        &:last-child::before {
          background-image: url($email);
        }
      }
    }

    &-networks {
      display: flex;
      gap: rem(10);
      padding: rem(20) 0;

      & * {
        font-size: rem(26);
        cursor: pointer;
        transition: all 500ms ease-in-out;
        user-select: none;

        @include mq(large) {
          font-size: rem(30);
        }
      }

      & ion-icon[name="logo-facebook"]:hover {
        color: #749cf1;
      }

      & ion-icon[name="logo-instagram"]:hover {
        color: #833ab4;
      }

      & ion-icon[name="logo-twitter"]:hover {
        color: #1da1f2;
      }
    }
  }
}
