@use "../global" as *;
@use "../util" as *;

.btn {
  padding: rem(6) rem(16);
  outline: none;
  border: 0;
  border-radius: rem(16);
  font-family:  var(--font-family);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 4px 1px;
  transition: color 400ms ease-out, background-color 400ms ease-out;
  background-color: #fff;

  &-secondary {
    color: var(--primary-pink);

    &:hover {
      color: var(--light-pink);
    }
  }

  &-primary {
    color: var(--very-pale-blue);
    background-color: var(--primary-pink);
    padding: rem(10) rem(28);

    &:hover {
      background-color: var(--light-pink);
    }
  }

}


