@use "../global" as *;
@use "../util" as *;

.btn {
  padding: rem(6) rem(16);
  outline: none;
  border: 0;
  border-radius: rem(40);
  font-family: var(--font-family);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 4px 1px;
  transition: color 400ms ease-out, background-color 400ms ease-out;
  background-color: #fff;

  @include mq(medium) {
    font-size: 1em;
  }

  &-secondary {
    color: var(--primary-pink);

    @include mq(medium) {
      padding: rem(7) rem(32);
    }

    &:hover {
      color: var(--light-pink);
    }
  }

  &-primary {
    color: var(--very-pale-blue);
    background-color: var(--primary-pink);
    padding: rem(10) rem(28);

    @include mq(medium) {
      padding: rem(16) rem(50);
    }

    &:hover {
      background-color: var(--light-pink);
    }
  }

  &--subscribe {
    box-shadow: none;
    border-radius: rem(8);
    width: max-content;
  }
}
